@inherits LayoutComponentBase
@using SmartEdu.Shared.Services
@inject INetworkService NetworkService
@implements IDisposable


<HeadContent>
    <link href="css/shared/app.css" rel="stylesheet" />
</HeadContent>


<div class="page">
    <main>
        <div class="top-row px-4">

            <div class="network-indicator">
                @if (isConnected)
                {
                    <span class="status-online">🟢 Online</span>
                }
                else
                {
                    <span class="status-offline">🔴 No Internet Connection</span>
                }
            </div>

        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>


@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@


@code {
    private bool isConnected = true;

    protected override void OnInitialized()
    {
        // Cek status awal
        isConnected = NetworkService.IsConnected;
        // Langganan event jika status berubah
        NetworkService.ConnectivityChanged += HandleConnectivityChanged;
    }

    private void HandleConnectivityChanged(bool status)
    {
        isConnected = status;
        // Refresh UI karena event ini dipanggil dari background thread sistem
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        // Wajib lepas event handler saat halaman ditutup
        NetworkService.ConnectivityChanged -= HandleConnectivityChanged;
    }
}